In [ ]:
import numpy as np
import pandas as pd 
from functools import reduce
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

**Read in all the predictions**

In [ ]:
abg = pd.read_csv('/content/drive/My Drive/Predictions/ABG_Predictions.csv') 
abg.index = abg['Date'] 
abg.drop(['Date'], axis=1, inplace=True)

afe = pd.read_csv('/content/drive/My Drive/Predictions/AFE_Predictions.csv') 
afe.index = afe['Date'] 
afe.drop(['Date'], axis=1, inplace=True)

afx = pd.read_csv('/content/drive/My Drive/Predictions/AFX_Predictions.csv') 
afx.index = afx['Date'] 
afx.drop(['Date'], axis=1, inplace=True)

avi = pd.read_csv('/content/drive/My Drive/Predictions/AVI_Predictions.csv') 
avi.index = avi['Date'] 
avi.drop(['Date'], axis=1, inplace=True)

bvt = pd.read_csv('/content/drive/My Drive/Predictions/BVT_Predictions.csv') 
bvt.index = bvt['Date'] 
bvt.drop(['Date'], axis=1, inplace=True)

fsr = pd.read_csv('/content/drive/My Drive/Predictions/FSR_Predictions.csv') 
fsr.index = fsr['Date'] 
fsr.drop(['Date'], axis=1, inplace=True)

lbh = pd.read_csv('/content/drive/My Drive/Predictions/LBH_Predictions.csv') 
lbh.index = lbh['Date'] 
lbh.drop(['Date'], axis=1, inplace=True)

ned = pd.read_csv('/content/drive/My Drive/Predictions/NED_Predictions.csv') 
ned.index = ned['Date'] 
ned.drop(['Date'], axis=1, inplace=True)

ntc = pd.read_csv('/content/drive/My Drive/Predictions/NTC_Predictions.csv') 
ntc.index = ntc['Date'] 
ntc.drop(['Date'], axis=1, inplace=True)

pik = pd.read_csv('/content/drive/My Drive/Predictions/PIK_Predictions.csv') 
pik.index = pik['Date'] 
pik.drop(['Date'], axis=1, inplace=True)

rlo = pd.read_csv('/content/drive/My Drive/Predictions/RLO_Predictions.csv') 
rlo.index = rlo['Date'] 
rlo.drop(['Date'], axis=1, inplace=True)

sbk = pd.read_csv('/content/drive/My Drive/Predictions/SBK_Predictions.csv') 
sbk.index = sbk['Date'] 
sbk.drop(['Date'], axis=1, inplace=True)

shp = pd.read_csv('/content/drive/My Drive/Predictions/SHP_Predictions.csv') 
shp.index = shp['Date'] 
shp.drop(['Date'], axis=1, inplace=True)

tbs = pd.read_csv('/content/drive/My Drive/Predictions/TBS_Predictions.csv') 
tbs.index = tbs['Date'] 
tbs.drop(['Date'], axis=1, inplace=True)

whl = pd.read_csv('/content/drive/My Drive/Predictions/WHL_Predictions.csv') 
whl.index = whl['Date'] 
whl.drop(['Date'], axis=1, inplace=True)

dfs = [abg, afe, afx, avi, bvt, fsr, lbh, ned, ntc, pik, rlo, sbk, shp, tbs, whl]
df_merged = reduce(lambda left,right: pd.merge(left,right,on=['Date'], how='outer'), dfs)
df_merged = df_merged[3::5] #Keep Mondays only
df_merged = df_merged.dropna()
df_merged.head()

            ABG LSTM   ABG GRU  ABG Naive  ...   WHL GRU  WHL Naive  WHL Drift
Date                                       ...
2005-05-09 -0.000102  0.014049   0.058657  ...  0.002700   0.084417   0.087867
2005-05-16  0.000316  0.001946   0.006042  ...  0.010320   0.000000  -0.000657
2005-05-23  0.007923 -0.008932  -0.001809  ...  0.010375   0.009479   0.009275
2005-05-30  0.013397  0.020361  -0.007876  ...  0.006915   0.004706   0.004306
2005-06-06  0.006622  0.012913   0.008480  ...  0.000559  -0.017046  -0.018320

[5 rows x 60 columns]

In [ ]:
lstm = df_merged[['ABG LSTM','AFE LSTM','AFX LSTM', 'AVI LSTM','BVT LSTM','FSR LSTM', 'LBH LSTM','NED LSTM','NTC LSTM','PIK LSTM', 'RLO LSTM','SBK LSTM', 'SHP LSTM', 'TBS LSTM', 'WHL LSTM']].copy()
lstm = lstm.dropna()
lstm.to_csv(r'/content/drive/My Drive/Portfolio Management/LSTM_Predictions.csv', index = True, header=True)

gru = df_merged[['ABG GRU','AFE GRU','AFX GRU', 'AVI GRU','BVT GRU','FSR GRU', 'LBH GRU','NED GRU','NTC GRU','PIK GRU', 'RLO GRU','SBK GRU', 'SHP GRU', 'TBS GRU', 'WHL GRU']].copy()
gru = gru.dropna()
gru.to_csv(r'/content/drive/My Drive/Portfolio Management/GRU_Predictions.csv', index = True, header=True)

naive = df_merged[['ABG Naive','AFE Naive','AFX Naive', 'AVI Naive','BVT Naive','FSR Naive', 'LBH Naive','NED Naive','NTC Naive','PIK Naive', 'RLO Naive','SBK Naive', 'SHP Naive', 'TBS Naive', 'WHL Naive']].copy()
naive = naive.dropna()
naive.to_csv(r'/content/drive/My Drive/Portfolio Management/Naive_Predictions.csv', index = True, header=True)

drift = df_merged[['ABG Drift','AFE Drift','AFX Drift', 'AVI Drift','BVT Drift','FSR Drift', 'LBH Drift','NED Drift','NTC Drift','PIK Drift', 'RLO Drift','SBK Drift', 'SHP Drift', 'TBS Drift', 'WHL Drift']].copy()
drift = drift.dropna()
drift.to_csv(r'/content/drive/My Drive/Portfolio Management/Drift_Predictions.csv', index = True, header=True)

In [ ]:
lstm.head()

            ABG LSTM  AFE LSTM  AFX LSTM  ...  SHP LSTM  TBS LSTM  WHL LSTM
Date                                      ...
2005-05-09 -0.000102 -0.032536  0.000096  ...  0.000188 -0.000272  0.003262
2005-05-16  0.000316 -0.035206 -0.006760  ...  0.006482 -0.002074  0.009149
2005-05-23  0.007923 -0.024401  0.001726  ...  0.011667 -0.005993  0.012997
2005-05-30  0.013397 -0.017099 -0.006101  ...  0.013612 -0.004467  0.003613
2005-06-06  0.006622 -0.007748  0.000879  ...  0.013061 -0.002727  0.009478

[5 rows x 15 columns]

In [ ]:
gru.head()

             ABG GRU   AFE GRU   AFX GRU  ...   SHP GRU   TBS GRU   WHL GRU
Date                                      ...
2005-05-09  0.014049 -0.024025 -0.009412  ...  0.002074 -0.002505  0.002700
2005-05-16  0.001946 -0.020835  0.003896  ...  0.001012  0.002322  0.010320
2005-05-23 -0.008932 -0.011453 -0.004687  ...  0.003676  0.001923  0.010375
2005-05-30  0.020361 -0.001337  0.005065  ...  0.004318  0.003096  0.006915
2005-06-06  0.012913  0.000040  0.004806  ...  0.004319  0.013974  0.000559

[5 rows x 15 columns]

In [ ]:
naive.head()

            ABG Naive  AFE Naive  AFX Naive  ...  SHP Naive  TBS Naive  WHL Naive
Date                                         ...
2005-05-09   0.058657   0.001446   0.004320  ...   0.056284   0.019700   0.084417
2005-05-16   0.006042  -0.000241   0.008584  ...  -0.013606   0.027343   0.000000
2005-05-23  -0.001809  -0.006042   0.078068  ...   0.010899   0.030499   0.009479
2005-05-30  -0.007876   0.024190  -0.011529  ...  -0.024693   0.026770   0.004706
2005-06-06   0.008480   0.051648   0.019403  ...  -0.028171  -0.000944  -0.017046

[5 rows x 15 columns]

In [ ]:
drift.head()

            ABG Drift  AFE Drift  AFX Drift  ...  SHP Drift  TBS Drift  WHL Drift
Date                                         ...
2005-05-09   0.060040   0.001787  -0.000422  ...   0.060215   0.021136   0.087867
2005-05-16   0.004903   0.000005   0.004263  ...  -0.013124   0.029070  -0.000657
2005-05-23  -0.003248  -0.006067   0.077042  ...   0.012453   0.032289   0.009275
2005-05-30  -0.009514   0.025458  -0.016340  ...  -0.024726   0.028325   0.004306
2005-06-06   0.007580   0.053990   0.016056  ...  -0.028346  -0.000589  -0.018320

[5 rows x 15 columns]

**Read in Close Prices**

In [ ]:
abg_actual = pd.read_csv('/content/drive/My Drive/Stocks/ABG.csv')
abg_actual = abg_actual[['Date', 'Close']] 
abg_actual = abg_actual.rename(columns = {'Close': 'ABG Close'}, inplace = False)
abg_actual.index = abg_actual['Date'] 
abg_actual.drop(['Date'], axis=1, inplace=True)

afe_actual = pd.read_csv('/content/drive/My Drive/Stocks/AFE.csv')
afe_actual = afe_actual[['Date', 'Close']] 
afe_actual = afe_actual.rename(columns = {'Close': 'AFE Close'}, inplace = False)
afe_actual.index = afe_actual['Date'] 
afe_actual.drop(['Date'], axis=1, inplace=True)

afx_actual = pd.read_csv('/content/drive/My Drive/Stocks/AFX.csv')
afx_actual = afx_actual[['Date', 'Close']] 
afx_actual = afx_actual.rename(columns = {'Close': 'AFX Close'}, inplace = False)
afx_actual.index = afx_actual['Date'] 
afx_actual.drop(['Date'], axis=1, inplace=True)

avi_actual = pd.read_csv('/content/drive/My Drive/Stocks/AVI.csv')
avi_actual = avi_actual[['Date', 'Close']] 
avi_actual = avi_actual.rename(columns = {'Close': 'AVI Close'}, inplace = False)
avi_actual.index = avi_actual['Date'] 
avi_actual.drop(['Date'], axis=1, inplace=True)

bvt_actual = pd.read_csv('/content/drive/My Drive/Stocks/BVT.csv')
bvt_actual = bvt_actual[['Date', 'Close']] 
bvt_actual = bvt_actual.rename(columns = {'Close': 'BVT Close'}, inplace = False)
bvt_actual.index = bvt_actual['Date'] 
bvt_actual.drop(['Date'], axis=1, inplace=True)

fsr_actual = pd.read_csv('/content/drive/My Drive/Stocks/FSR.csv')
fsr_actual = fsr_actual[['Date', 'Close']] 
fsr_actual = fsr_actual.rename(columns = {'Close': 'FSR Close'}, inplace = False)
fsr_actual.index = fsr_actual['Date'] 
fsr_actual.drop(['Date'], axis=1, inplace=True)

lbh_actual = pd.read_csv('/content/drive/My Drive/Stocks/LBH.csv')
lbh_actual = lbh_actual[['Date', 'Close']] 
lbh_actual = lbh_actual.rename(columns = {'Close': 'LBH Close'}, inplace = False)
lbh_actual.index = lbh_actual['Date'] 
lbh_actual.drop(['Date'], axis=1, inplace=True)

ned_actual = pd.read_csv('/content/drive/My Drive/Stocks/NED.csv') 
ned_actual = ned_actual[['Date', 'Close']]
ned_actual = ned_actual.rename(columns = {'Close': 'NED Close'}, inplace = False)
ned_actual.index = ned_actual['Date'] 
ned_actual.drop(['Date'], axis=1, inplace=True)

ntc_actual = pd.read_csv('/content/drive/My Drive/Stocks/NTC.csv')
ntc_actual = ntc_actual[['Date', 'Close']] 
ntc_actual = ntc_actual.rename(columns = {'Close': 'NTC Close'}, inplace = False)
ntc_actual.index = ntc_actual['Date'] 
ntc_actual.drop(['Date'], axis=1, inplace=True)

pik_actual = pd.read_csv('/content/drive/My Drive/Stocks/PIK.csv')
pik_actual = pik_actual[['Date', 'Close']] 
pik_actual = pik_actual.rename(columns = {'Close': 'PIK Close'}, inplace = False)
pik_actual.index = pik_actual['Date'] 
pik_actual.drop(['Date'], axis=1, inplace=True)

rlo_actual = pd.read_csv('/content/drive/My Drive/Stocks/RLO.csv')
rlo_actual = rlo_actual[['Date', 'Close']] 
rlo_actual = rlo_actual.rename(columns = {'Close': 'RLO Close'}, inplace = False)
rlo_actual.index = rlo_actual['Date'] 
rlo_actual.drop(['Date'], axis=1, inplace=True)

sbk_actual = pd.read_csv('/content/drive/My Drive/Stocks/SBK.csv')
sbk_actual = sbk_actual[['Date', 'Close']] 
sbk_actual = sbk_actual.rename(columns = {'Close': 'SBK Close'}, inplace = False)
sbk_actual.index = sbk_actual['Date'] 
sbk_actual.drop(['Date'], axis=1, inplace=True)

shp_actual = pd.read_csv('/content/drive/My Drive/Stocks/SHP.csv') 
shp_actual = shp_actual[['Date', 'Close']]
shp_actual = shp_actual.rename(columns = {'Close': 'SHP Close'}, inplace = False)
shp_actual.index = shp_actual['Date'] 
shp_actual.drop(['Date'], axis=1, inplace=True)

tbs_actual = pd.read_csv('/content/drive/My Drive/Stocks/TBS.csv') 
tbs_actual = tbs_actual[['Date', 'Close']]
tbs_actual = tbs_actual.rename(columns = {'Close': 'TBS Close'}, inplace = False)
tbs_actual.index = tbs_actual['Date'] 
tbs_actual.drop(['Date'], axis=1, inplace=True)

whl_actual = pd.read_csv('/content/drive/My Drive/Stocks/WHL.csv')
whl_actual = whl_actual[['Date', 'Close']] 
whl_actual = whl_actual.rename(columns = {'Close': 'WHL Close'}, inplace = False)
whl_actual.index = whl_actual['Date'] 
whl_actual.drop(['Date'], axis=1, inplace=True)

dfs = [abg_actual, afe_actual, afx_actual, avi_actual, bvt_actual, fsr_actual, lbh_actual, ned_actual, ntc_actual, pik_actual, rlo_actual, sbk_actual, shp_actual, tbs_actual, whl_actual]
df_merged = reduce(lambda left,right: pd.merge(left,right,on=['Date'], how='outer'), dfs)
df_merged.index = pd.to_datetime(df_merged.index) 
df_merged = df_merged.dropna()
df_merged.head()

            ABG Close  AFE Close  AFX Close  ...  SHP Close  TBS Close  WHL Close
Date                                         ...
1999-01-01       2790        750        700  ...        820  3713.4357        290
1999-01-04       2850        750        670  ...        825  3841.4852        278
1999-01-05       2875        720        670  ...        815  3809.4729        275
1999-01-06       3050        715        700  ...        840  3835.0828        300
1999-01-07       3250        702        730  ...        845  3803.0704        305

[5 rows x 15 columns]

In [ ]:
returns = pd.DataFrame(index=df_merged.index)
returns['ABG Returns'] = (df_merged['ABG Close'].shift(-5) / df_merged['ABG Close']) - 1
returns['AFE Returns'] = (df_merged['AFE Close'].shift(-5) / df_merged['AFE Close']) - 1
returns['AFX Returns'] = (df_merged['AFX Close'].shift(-5) / df_merged['AFX Close']) - 1
returns['AVI Returns'] = (df_merged['AVI Close'].shift(-5) / df_merged['AVI Close']) - 1
returns['BVT Returns'] = (df_merged['BVT Close'].shift(-5) / df_merged['BVT Close']) - 1
returns['FSR Returns'] = (df_merged['FSR Close'].shift(-5) / df_merged['FSR Close']) - 1
returns['LBH Returns'] = (df_merged['LBH Close'].shift(-5) / df_merged['LBH Close']) - 1
returns['NED Returns'] = (df_merged['NED Close'].shift(-5) / df_merged['NED Close']) - 1
returns['NTC Returns'] = (df_merged['NTC Close'].shift(-5) / df_merged['NTC Close']) - 1
returns['PIK Returns'] = (df_merged['PIK Close'].shift(-5) / df_merged['PIK Close']) - 1
returns['RLO Returns'] = (df_merged['RLO Close'].shift(-5) / df_merged['RLO Close']) - 1
returns['SBK Returns'] = (df_merged['SBK Close'].shift(-5) / df_merged['SBK Close']) - 1
returns['SHP Returns'] = (df_merged['SHP Close'].shift(-5) / df_merged['SHP Close']) - 1
returns['TBS Returns'] = (df_merged['TBS Close'].shift(-5) / df_merged['TBS Close']) - 1
returns['WHL Returns'] = (df_merged['WHL Close'].shift(-5) / df_merged['WHL Close']) - 1
returns = returns.dropna()
returns.to_csv(r'/content/drive/My Drive/Portfolio Management/Percentage_Weekly_Returns.csv', index = True, header=True)

returns.head()

            ABG Returns  AFE Returns  ...  TBS Returns  WHL Returns
Date                                  ...
1999-01-01     0.175627    -0.133333  ...     0.031034     0.068966
1999-01-04     0.115789     0.000000  ...    -0.008333     0.129496
1999-01-05     0.093913     0.041667  ...     0.001681     0.127273
1999-01-06    -0.045902    -0.006993  ...    -0.041736    -0.033333
1999-01-07    -0.138462     0.018519  ...    -0.040404    -0.049180

[5 rows x 15 columns]