In [ ]:
import numpy as np 
import pandas as pd 
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
rfr = pd.read_csv('/content/drive/My Drive/Portfolio Management/RFR.csv') 
rfr['Date'] = pd.to_datetime(rfr.Date)
rfr.index = rfr['Date'] 
rfr.drop(['Date'], axis=1, inplace=True)

#91 day t-bill value
rfr['Value'] = 100 * (1 - rfr['Rate'] * (91/365))

#Quarterly Risk free rate
rfr['Quarterly RFR'] = (100 / rfr['Value']) - 1

#Weekly Risk free rate
rfr['Weekly RFR'] = (100 / rfr['Value']) ** (7/91) - 1

rfr.head()

              Rate      Value  Quarterly RFR  Weekly RFR
Date
2004-01-02  0.0756  98.115178        0.01921    0.001465
2004-01-03  0.0756  98.115178        0.01921    0.001465
2004-01-05  0.0756  98.115178        0.01921    0.001465
2004-01-06  0.0756  98.115178        0.01921    0.001465
2004-01-07  0.0756  98.115178        0.01921    0.001465